snippet trans
	{% trans '${0}' %}
snippet blocktrans
	{% blocktrans %}
		${0}
	{% endblocktrans %}
snippet %
	{% ${1} %}
snippet block
	{% block ${1} %}
		${0}
	{% endblock ${1} %}
snippet #
	{# ${0:comment} #}
snippet comment
	{% comment %}
		${0}
	{% endcomment %}
snippet spaceless
	{% spaceless %}
		${0}
	{% endspaceless %}
