snippet timeoutc
    setTimeout(function (that) {
        ${0}
    }, ${1}, this);

snippet timeout
    setTimeout(function () {
        ${0}
    }, ${1});

snippet intervalc
    setInterval(function (that) {
        ${0}
    }, ${1}, this);

snippet interval
    setInterval(function () {
        ${0}
    }, ${1});

snippet cl
    console.log(${0});
