snippet describe
    describe('${1}', function () {
    });

snippet it
    it('should ${1}', function () {
        var m = module();
        ${0}
    });

snippet itasync
    it('should ${1}', function (done) {
        var m = module();
        ${0}
        setTimeout(function () {
            done();
        });
    });
